* {
    font-family: 'Arial', sans-serif;
}

.btn {
    padding: 10px;
    cursor: pointer;
}

.dropdownMenu {
    padding: 20px;
    height: 365px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px -2px rgba(0,0,0,0.2);
    border: 1px solid #c4c7c8;
    visibility: hidden;
    opacity: 0;
}

.dropdownMenu:hover,
.btn--menu:hover ~ .dropdownMenu {
    visibility: visible;
    opacity: 1;
}

.btn:hover .dropdownMenu {
    visibility: visible;
}

.dropdownMenu__inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: calc(100% - 250px);
}

.dropdownMenu__inner__item {
    color: #333;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 0;
    cursor: pointer;
    transition: .2s all;
}

.dropdownMenu__inner__item:hover {
    color: #8266d2;
}

.dropdownMenu__lottie {
    position: relative;
    width: 240px;
    height: 240px;
}

.lottieLoader,
.lottie {
    position: absolute;
    top: 0;
    left: 0;
    width: 240px;
    height: 240px;
    display: block;
    transition: .2s all;
    z-index: -100;
    visibility: hidden;
    opacity: 0;
}

.lottieLoader {
    width: 75px;
    height: 75px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
}

.lottieImagePlaceholder {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 240px;
    height: auto;
}

.btn--menuMobile,
.mobileMenu {
    display: none;
}

.img {
    width: 100%;
}

@media(max-width: 980px) {
    .btn--menu,
    .dropdownMenu {
        display: none;
    }

    .btn--menuMobile,
    .mobileMenu {
        display: block;
    }

    .btn--menuMobile {
        background: transparent;
        width: 35px;
        height: auto;
    }

    .mobileMenu {
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        width: 90vw;
        height: 100vh;
        box-shadow: 0 0 20px -2px rgba(0,0,0,0.2);
        border-right: 1px solid #c4c7c8;
        background: #fff;
        transform: scaleX(0);
        transform-origin: top left;
        overflow: hidden;
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .mobileMenu__slide::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .mobileMenu__slide {
        overflow-y: auto;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }


    .mobileMenu,
    .mobileMenu > * {
        transition: .3s all;
    }

    .mobileMenu > * {
        opacity: 0;
    }

    .mobileMenu__slide {
        position: absolute;
        top: 0;
        left: 20px;
        width: calc(100% - 40px);
        height: 100%;
        transform: translateX(-120%);
    }

    .mobileMenu__slide--1 {
        padding: 20px;
        left: 0;
        transform: translateX(0);
    }

    .mobileMenu__item {
        background: transparent;
        width: 100%;
        color: inherit;
        text-decoration: none;
        padding: 10px;
        font-size: 17px;
        font-weight: 600;
        border: none;
        border-bottom: 1px solid #dedede;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    a.mobileMenu__item {
        width: calc(100% - 20px);
    }

    .mobileMenu__item__icon {
        width: 25px;
        height: auto;
    }

    .mobileMenu__slide__bottomMenu {
        margin-top: 100px;
    }

    .mobileMenu__slide__bottomMenu .mobileMenu__item {
        font-size: 15px;
        padding: 7px 10px;
        font-weight: 400;
    }

    .mobileMenu__banner {
        margin-top: 20px;
        padding-bottom: 30px;
        width: 100%;
        height: auto;
    }

    .mobileMenu__subcategoriesHeader {
        font-size: 18px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 30px 0 10px;
        width: 100%;
        border: none;
        outline: none;
        background: #fff;
        z-index: 100;
        border-bottom: 2px solid #dedede;
        font-weight: 700;
        position: sticky;
        top: 0;
        left: 0;
    }

    .mobileMenu__subcategoriesHeader .mobileMenu__item__icon {
        transform: rotateY(180deg);
        margin-right: 12px;
    }

    .mobileMenu__subcategories {
        margin: 30px 0;
        padding-bottom: 30px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }

    .mobileMenu__subcategories__item {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }

    .mobileMenu__subcategories__item__animation {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin-bottom: 12px;
        overflow: hidden;
        background: transparent;
        border: none;
        position: relative;
    }

    .mobileMenu__subcategories__item__link {
        color: inherit;
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
    }

    .lottie, .lottieLoader {
        width: 100px;
        height: 100px;
    }
}
