* {
    font-family: 'Arial', sans-serif;
}

.btn {
    padding: 10px;
    cursor: pointer;
}

.dropdownMenu {
    padding: 20px;
    height: 365px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px -2px rgba(0,0,0,0.2);
    border: 1px solid #c4c7c8;
}

.btn:hover .dropdownMenu {
    visibility: visible;
}

.dropdownMenu__inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: calc(100% - 250px);
}

.dropdownMenu__inner__item {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 0;
    cursor: pointer;
    transition: .2s all;
}

.dropdownMenu__inner__item:hover {
    color: #8266d2;
}

.dropdownMenu__lottie {
    position: relative;
    width: 240px;
    height: 240px;
}

.lottie {
    position: absolute;
    top: 0;
    left: 0;
    width: 240px;
    height: 240px;
    display: block;
    transition: .2s all;
}

.lottieImagePlaceholder {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 240px;
    height: auto;
}

.lottie--placeholder {

}

.lottie--movie {

}
