* {
    font-family: 'Arial', sans-serif;
}

.btn {
    padding: 10px;
    cursor: pointer;
}

.dropdownMenu {
    padding: 20px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 20px -2px rgba(0,0,0,0.2);
    border: 1px solid #c4c7c8;
    /*visibility: hidden;*/
    /*opacity: 0;*/
}

.dropdownMenu:hover,
.btn--menu:hover ~ .dropdownMenu {
    visibility: visible;
    opacity: 1;
}

.btn:hover .dropdownMenu {
    visibility: visible;
}

.dropdownMenu__inner {
    height: 100%;
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(100, 1fr);
    flex-direction: column;
    flex-wrap: wrap;
    width: calc(100% - 310px);
}

.dropdownMenu__inner__section {
    padding: 15px;
    border-radius: 15px;
    border: 1px solid #dedede;
}

.dropdownMenu__inner__section--1 {
    grid-column: 1;
    grid-row: 1 / 100;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.dropdownMenu__inner__section--2 {
    grid-column: 2;
    grid-row: 1 / 20;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.dropdownMenu__inner__section--3 {
    grid-column: 2;
    grid-row: 23 / 65;
}

.dropdownMenu__inner__section--4 {
    grid-column: 2;
    grid-row: 68 / 100;
}

.dropdownMenu__inner__section--5 {
    grid-column: 3;
    grid-row: 1 / 100;
}

.dropdownMenu__inner__section__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdownMenu__inner__section__header > .img {
    height: 40px;
    width: auto;
}

.dropdownMenu__inner__section__header__content {
    width: calc(100% - 60px);
}

.dropdownMenu__inner__section__header__content__header {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

.dropdownMenu__inner__section__header__content__text {
    margin-top: 10px;
    font-size: 14px;
}

.dropdownMenu__inner__item {
    color: #333;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 0;
    cursor: pointer;
    transition: .2s all;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.dropdownMenu__inner__item:hover {
    color: #8266d2;
}

.dropdownMenu__inner__item__extra {
    background: #8266d2;
    text-transform: none;
    color: #fff;
    font-size: 12px;
    padding: 3px 12px;
    text-align: center;
    border-radius: 10px;
    display: block;
    margin-left: 8px;
}

@media(max-width: 1896px) {
    .dropdownMenu__inner__item__extra {
        margin-top: 5px;
    }
}

.dropdownMenu__lottie {
    position: relative;
    width: 240px;
    height: 240px;
}

.lottieLoader,
.lottie {
    position: absolute;
    top: 0;
    left: 0;
    width: 240px;
    height: 240px;
    display: block;
    transition: .2s all;
    z-index: -100;
    visibility: hidden;
    opacity: 0;
}

.lottieLoader {
    width: 75px;
    height: 75px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
}

.lottieImagePlaceholder {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 240px;
    height: auto;
}

.dropdownMenu__inner__item__icon {
    height: 20px;
    width: auto;
    margin-right: 10px;
}

.btn--menuMobile,
.mobileMenu {
    display: none;
}

.img {
    width: 100%;
}

@media(max-width: 1800px) {
    .dropdownMenu__inner__item {
        font-size: 14px;
        padding: 8px 0;
    }

    .dropdownMenu__inner__section__header__content__header {
        font-size: 17px;
    }

    .dropdownMenu__inner__section__header__content__text {
        font-size: 13px;
    }

    .dropdownMenu__inner__item__icon {
        height: 15px;
    }

    .dropdownMenu__inner__item__extra {
        font-size: 10px;
    }
}

@media(max-width: 1200px) {
    .dropdownMenu__inner__section__header__content__header {
        font-size: 16px;
    }

    .dropdownMenu__inner__section__header__content__text {
        font-size: 12px;
    }

    .dropdownMenu__inner__item {
        font-size: 14px;
    }

    .dropdownMenu__inner__item__icon {
        display: none;
    }
}

@media(max-width: 980px) {
    .btn--menu,
    .dropdownMenu {
        display: none;
    }

    .btn--menuMobile,
    .mobileMenu {
        display: block;
    }

    .btn--menuMobile {
        background: transparent;
        width: 35px;
        height: auto;
    }

    .mobileMenu {
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        width: 90vw;
        height: calc(100vh - calc(100vh - 100%));
        box-shadow: 0 0 20px -2px rgba(0,0,0,0.2);
        border-right: 1px solid #c4c7c8;
        background: #fff;
        transform: scaleX(0);
        transform-origin: top left;
        overflow: hidden;
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .mobileMenu__slide::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .mobileMenu__slide {
        overflow-y: auto;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }


    .mobileMenu,
    .mobileMenu > * {
        transition: .3s all;
    }

    .mobileMenu > * {
        opacity: 0;
    }

    .mobileMenu__slide {
        position: absolute;
        top: 0;
        left: 20px;
        width: calc(100% - 40px);
        height: 100%;
        transform: translateX(-120%);
    }

    .mobileMenu__slide--1 {
        padding: 20px;
        left: 0;
        transform: translateX(0);
    }

    .mobileMenu__item {
        background: transparent;
        width: 100%;
        color: inherit;
        text-decoration: none;
        padding: 15px 10px;
        font-size: 15px;
        font-weight: 600;
        border: none;
        border-bottom: 1px solid #dedede;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mobileMenu__item > span {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .mobileMenu__item__leftIcon {
        height: 20px;
        margin-right: 12px;
    }

    a.mobileMenu__item {
        width: calc(100% - 20px);
    }

    .mobileMenu__item__icon {
        width: 25px;
        height: auto;
    }

    .mobileMenu__slide__bottomMenu {
        margin-top: 100px;
    }

    .mobileMenu__slide__bottomMenu .mobileMenu__item {
        font-size: 15px;
        padding: 7px 10px;
        font-weight: 400;
    }

    .mobileMenu__banner {
        margin-top: 20px;
        padding-bottom: 30px;
        width: 100%;
        height: auto;
    }

    .mobileMenu__subcategoriesHeader {
        font-size: 16px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 30px 0 10px;
        width: 100%;
        border: none;
        outline: none;
        background: #fff;
        z-index: 100;
        border-bottom: 2px solid #dedede;
        font-weight: 700;
        position: sticky;
        top: 0;
        left: 0;
        color: #313131;
    }

    .mobileMenu__subcategoriesHeader .mobileMenu__item__icon {
        transform: rotateY(180deg);
        margin-right: 12px;
    }

    .mobileMenu__subcategories {
        margin: 30px 0;
        padding-bottom: 30px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }

    .mobileMenu__subcategories__item {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        border: 1px solid transparent;
    }

    .mobileMenu__subcategories__item__animation {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin-bottom: 12px;
        overflow: hidden;
        background: transparent;
        border: none;
        position: relative;
    }

    .mobileMenu__subcategories__item__link {
        color: inherit;
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
    }

    .lottie, .lottieLoader {
        width: 100px;
        height: 100px;
    }

    .mobileLoader {
        width: 35px;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        visibility: hidden;
        opacity: 0;
        z-index: 10000;
    }
}

/* Okazje */
.dropdownMenu--events {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdownMenu__banners {
    width: 20%;
}

.dropdownMenu__categories {
    width: 20%;
}

.dropdownMenu__carousel {
    width: 50%;
}

.dropdownMenu__banners__item {
    width: 100%;
    height: 120px;
    overflow: hidden;
    margin: 0;
}

.dropdownMenu__banners__item:first-child {
    margin-bottom: 20px;
}

.dropdownMenu__banners__item > .img {
    width: 100%;
    height: auto;
}

.dropdownMenu__categories__item {
    display: block;
    color: #333333;
    text-decoration: none;
    font-size: 16px;
    padding: 3px 0;
}

.dropdownMenu__categories__item:hover {
    color: #8266d2;
}

.dropdownMenu__carousel__slick__item {
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
}

.dropdownMenu__carousel__slick__item__title {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin: 0;
    transform: translateX(-50%);
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    z-index: 104;
}

.dropdownMenu__carousel__slick__item__gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 100;
}


.dropdownMenu__carousel__slick__item__image {
    position: relative;
    z-index: 101;
    width: 100%;
    height: auto;
    /*transition: 1s opacity;*/
}

.dropdownMenu__carousel__slick__item__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    z-index: -100;
    opacity: 0;
    /*transition: 1s opacity;*/
}

.slick-slide {
    margin: 0 8px;
}

@media(max-width: 1200px) {
    .dropdownMenu__banners {
        display: none;
    }

    .dropdownMenu__categories__item {
        font-size: 14px;
    }

    .dropdownMenu__carousel {
        width: 70%;
    }

    .dropdownMenu__carousel__slick__item__title {
        font-size: 15px;
    }
}

@media(max-width: 980px) {
    .dropdownMenu {
        display: none;
    }

    .mobileMenu__subcategories {
        display: block;
    }

    .mobileMenu__subcategories__carousel__item {
        display: block;
        position: relative;
        cursor: pointer;
        overflow: hidden;
    }

    .mobileMenu__subcategories__carousel__item__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        overflow: hidden;
        z-index: -100;
        opacity: 0;
        transition: 1s opacity;
    }

    .mobileMenu__subcategories__carousel__item__title {
        position: absolute;
        bottom: 20px;
        left: 50%;
        max-width: 90%;
        transform: translateX(-50%);
        font-size: 15px;
        color: #fff;
        margin: 0;
        padding: 0;
        background: transparent;
        text-align: center;
        text-decoration: none;
        border: none;
        z-index: 200 !important;
    }

    .slick-list {
        padding: 0 20% 0 0 !important;
    }

    .btn--toggleMenuType {
        position: absolute;
        top: 65%;
        right: 0;
        transform: translateY(-50%);
        background: transparent;
        border: none;
        width: 25px;
        height: 25px;
        padding: 0;
    }

    .btn--toggleMenuType > .img {
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
    }

    .img--carousel {
        visibility: hidden;
    }

    .mobileMenu__carousel {
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        height: auto;
    }

    .mobileMenu__list {
        position: relative;
        visibility: hidden;
        opacity: 0;
    }

    .mobileMenu__carousel,
    .mobileMenu__list {
        transition: .2s opacity;
    }
}
